.carousel{
    height: 100vh;
    text-align: center;

 .carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

.slide-up {
    font-size: 2rem;
    margin: 1rem 0; 
    font-weight: 900;
    color: green;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;

    &.active {
      animation: slide-up 1.4s ease;
    }
  }

  .fade-in {
    font-size: 1.1rem;
    margin: 1rem 0;
    font-weight: 500;
    text-align: center;
    color: rgb(131, 131, 223);
    font-family: 'Montserrat', sans-serif;
    font-style: oblique;

    &.active {
      animation: fade-in 2s ease;
    }
  }

  .slide-left {
    font-size: 1rem;

    &.active {
      animation: slide-left 2.1s ease;
    }

    .text-btn:hover{
        background-color: antiquewhite;
        color: aqua;
    }
  }
}

}
 


@keyframes slide-up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(250px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
    

    .carousel-text {
        .slide-up {
            font-size: 2rem;
        }
        .fade-in {
            font-size: 1rem;
        }
    }
}

